<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Simple Blog: <%= controller.action_name %></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= stylesheet_link_tag 'screen' %>
    <%= javascript_include_tag :all %>
  </head>
  <body>

    <!-- header starts-->
    <div id="header-wrap"><div id="header" class="container_16">

        <h1 id="logo-text"><%= link_to 'Daniel González', '/' %></h1>
        <p id="intro">Freelance web developer...</p>

        <!-- navigation -->
        <div id="nav">
          <ul>
            <li <%= 'id="current"' if controller.controller_name == 'home' %>><%= link_to('Home', '/') %></li>
            <li <%= 'id="current"' if controller.controller_name == 'posts' %>><%= link_to('Blog', posts_path) %></li>
            <li <%= 'id="current"' if controller.controller_name == 'postfolio' %>><%= link_to('Portfolio', '/') %></li>
            <li <%= 'id="current"' if controller.controller_name == 'contact' %>><%= link_to('Contact', :controller => 'contact') %></li>
          </ul>
        </div>

        <div id="header-image"></div>

        <form id="quick-search" action="index.html" method="get" >
          <p>
            <label for="qsearch">Search:</label>
            <input class="tbox" id="qsearch" type="text" name="qsearch" value="Search..." title="Start typing and hit ENTER" />
            <input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src="/images/search.gif" />
          </p>
        </form>

        <!-- header ends here -->
      </div></div>

    <!-- content starts -->
    <div id="content-outer"><div id="content-wrapper" class="container_16">

        <!-- main -->
        <div id="main" class="grid_8">

          <p style="color: green"><%= flash[:notice] %></p>
          <%= yield %>

          <div class="grid_4 alpha">

            <h3>Lorem Ipsum Dolor Sit Amet</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
              Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
              posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum
              odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra
              condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna.
              In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
              Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
              posuere nunc justo tempus leo.
            </p>

            <p><a class="more-link" href="index.html">continue reading</a></p>

          </div>

          <div class="grid_4 omega">

            <h3>Lorem Ipsum Dolor Sit Amet</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
              Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
              posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum
              odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra
              condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna.
              In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
              Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
              posuere nunc justo tempus leo.
            </p>

            <p><a class="more-link" href="index.html">continue reading</a></p>

          </div>

          <!-- main ends -->
        </div>

        <!-- left-columns starts -->
        <div id="left-columns" class="grid_8">

          <div class="grid_4 alpha">

            <div class="sidemenu">
              <h3>Sidebar Menu</h3>
              <ul>
                <li><%= link_to('Home', '/') %></li>
                <li><%= link_to('Blog', posts_path) %></li>
                <li><%= link_to('Portfolio', '/') %></li>
                <li><%= link_to('Contact', :controller => 'contact') %></li>
                <li><a href="http://www.styleshout.com/">More Free Templates</a></li>
                <li><a href="http://www.4templates.com/?aff=ealigam">Premium Templates</a></li>
              </ul>
            </div>

            <div class="sidemenu">
              <h3>Links</h3>
              <ul>
                <li><a href="http://www.PDPhoto.org/">PDPhoto</a></li>
                <li><a href="http://www.alistapart.com">Alistapart</a></li>
                <li><a href="http://960.gs/">960 Grid System</a></li>
                <li><a href="http://www.freephotos.se/">FreePhotos.se</a></li>
                <li><a href="http://www.sisvox.com/">SISVOX</a></li>
              </ul>
            </div>

            <div class="sidemenu">
              <h3>Sponsors</h3>
              <ul>
                <li><a href="http://themeforest.net?ref=ealigam">ThemeForest <br /><span>Your Choice for Site Templates, Wordpress, Joomla and CMS Themes</span></a></li>
                <li><a href="http://www.4templates.com/?aff=ealigam">4templates <br /><span>Low Cost Hi-Quality Templates</span></a></li>
                <li><a href="http://store.templatemonster.com?aff=ealigam">TemplateMonster <br /><span>Delivering the Best Templates on the Net!</span></a></li>
                <li><a href="http://tinyurl.com/3cgv2m">Text Link Ads <br /><span>Monetized your website</span></a></li>
                <li><a href="http://www.fotolia.com/partner/114283">Fotolia <br /><span>Free stock images or from $1</span></a> </li>
                <li><a href="http://www.dreamhost.com/r.cgi?287326">Dreamhost <br /><span>Premium webhosting</span></a></li>
              </ul>
            </div>

            <h3>Wise Words</h3>
            <p>
              &quot;Beauty of style and harmony and grace and good rhythm
              depends on simplicity.&quot;
            </p>

            <p class="align-right"> - Plato</p>

            <h3>Support Styleshout</h3>
            <p>
              If you are interested in supporting my work and would like to contribute, you are
              welcome to make a small donation through the
              <a href="http://www.styleshout.com/">donate link</a> on my website - it will
              be a great help and will surely be appreciated.
            </p>

          </div>

          <%= render :partial => 'shared/features' %>

          <!-- end left-columns -->
        </div>

        <!-- contents end here -->
      </div></div>

    <!-- footer starts here -->
    <div id="footer-wrapper" class="container_16">

      <div id="footer-content">

        <div class="grid_8">

          <h3>Resource Links</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
            Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
            posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum
            odio, ac blandit ante orci ut diam. <a href="index.html">Read more...</a>
          </p>

          <ul class="footer-list">
            <li><a href="http://themeforest.net?ref=ealigam">ThemeForest - <span>Your Choice for Site Templates &amp; Wordpress Themes</span></a></li>
            <li><a href="http://www.cssmania.com/">CSSMania - <span>CSS Design Showcase</span></a></li>
            <li><a href="http://www.alistapart.com/">AListApart - <span>For People Who Make Websites</span></a></li>
            <li><a href="http://www.psdtuts.com/">PSDTuts.com - <span>Photoshop Tutorials And Links</span></a></li>
            <li><a href="http://www.pdphoto.org/">PDPhoto.org - <span>Public Domain Photos</span></a></li>
            <li><a href="http://www.freephotos.se/">FreePhotos.se - <span>Free &amp; Public Domain Photos</span></a></li>
            <li><a href="http://www.fotolia.com/partner/114283">Fotolia - <span>Free stock images or from $1</span></a></li>
            <li><a href="http://www.4templates.com/?aff=ealigam">4templates - <span>Low Cost Hi-Quality Templates</span></a></li>
          </ul>

        </div>

        <div class="grid_8">

          <h3>Image Gallery </h3>
          <p class="thumbs">
            <a href="index.html"><img src="/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
            <a href="index.html"><img src="/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
            <a href="index.html"><img src="/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
            <a href="index.html"><img src="/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
            <a href="index.html"><img src="/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
            <a href="index.html"><img src="/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
            <a href="index.html"><img src="/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
            <a href="index.html"><img src="/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
            <a href="index.html"><img src="/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
            <a href="index.html"><img src="/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
            <a href="index.html"><img src="/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
            <a href="index.html"><img src="/images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
          </p>

          <h3>About</h3>
          <p>
            <%= link_to(image_tag('coliseo.jpg', :class => 'float-left', :size => '40'), '/') %>
            I'm a web developer based in Venezuela. I consider myself critical,
            reflexive and methodical on resolving various computer scenarios; innovative
            as seeking for new alternatives; honest and ethical professional perform;
            responsible and methodical at doing tasks; communicative and participative
            leadership, in order to facilitate the use of information and communication
            technologies; formal, systematic and precise at developing tasks; dedicated
            to the critic knowledge of the technological advances and permanently
            updates. <%= link_to_function 'Read more...', "$('profile').appear();" %>
          </p>
          <div id="profile" style="display:none">
            <h3>Profile & Overall Experience</h3>
            <p>
              Experienced with Linux and Windows environments and virtualization tools,
              managing production web infrastructure (Linux, Apache, MySQL, Oracle,
              PHP, Rails). Capacity to write scripts for systems automation. Basic
              knowledge of TCP/IP networking, load balancers, IDSs, and firewalls.
              Experience working with system and network monitoring tools: syslogd,
              firestarter/iptables, Ettercap, and Wireshark. Experience with MySQL,
              Oracle, Informix and JavaDB. General working knowledge of PL/SQL. Excellent
              communication, organization, and teamwork skills. Dependable with a great
              work ethic, demonstrated initiative, ownership of issues, and exceptional
              attitude. Highly flexible, adaptable, and able to deal with uncertainty
              in a start-up company atmosphere. <%= link_to_function 'Read less...', "$('profile').fade();" %>
            </p>
          </div>

        </div>

      </div>

      <div id="footer-bottom">

        <p class="bottom-left">
          <%= link_to 'http://www.danielgonzalez.com.ve' %> &copy; 2009 |
          Design by : <%= link_to 'styleshout', 'http://www.styleshout.com/' %>
        </p>

        <p class="bottom-right" >
          <%= link_to 'Home', '/' %> |
          <%= link_to 'Sitemap', '/' %> |
          <%= link_to 'RSS Feeds', '/' %> |
          <%= link_to 'CSS', 'http://jigsaw.w3.org/css-validator/check/referer' %> |
          <%= link_to 'xHTML', 'http://validator.w3.org/check/referer' %>
        </p>

      </div>

    </div>
    <!-- footer ends here -->


    <!--
Aviso Legal

1. Identidad del titular del Web

La identidad y demás información acerca de la compañía titular del Web se establece en el apartado contacto.

2. Aceptación de las Condiciones de Uso

Las presentes Condiciones (en adelante denominado como Aviso Legal) tienen por objeto regular el uso de este sitio Web que su titular pone a disposición del público en la presente URL.

La utilización del sitio Web por un tercero le atribuye la condición de Usuario y, supone la aceptación plena por dicho Usuario, de todas y cada una de las condiciones que se incorporan en el presente Aviso Legal.

El titular del Web puede ofrecer a través del Web, servicios o productos que podrán encontrarse sometidas a unas condiciones particulares propias que, según los casos, sustituyen, completan y/o modifican las presentes Condiciones, y sobre las cuales se informará al Usuario en cada caso concreto.

3. Uso correcto del Sitio Web

El Usuario se compromete a utilizar el Web, los contenidos y servicios de conformidad con la Ley, el presente Aviso Legal, las buenas costumbres y el orden público. Del mismo modo, el Usuario se obliga a no utilizar el Web o los servicios que se presten a través de él con fines o efectos ilícitos o contrarios al contenido del presente Aviso Legal, lesivos de los intereses o derechos de terceros, o que de cualquier forma pueda dañar, inutilizar o deteriorar el Web o sus servicios, o impedir un normal disfrute del Web por otros Usuarios.

Asimismo, el Usuario se compromete expresamente a no destruir, alterar, inutilizar o, de cualquier otra forma, dañar los datos, programas o documentos electrónicos y demás que se encuentren en la presente sitio Web.

El Usuario se compromete a no obstaculizar el acceso de otros usuarios al servicio de acceso mediante el consumo masivo de los recursos informáticos a través de los cuales el titular del Web presta el servicio, así como realizar acciones que dañen, interrumpan o generen errores en dichos sistemas.

El Usuario se compromete a no introducir programas, virus, macros, applets, controles ActiveX o cualquier otro dispositivo lógico o secuencia de caracteres que causen o sean susceptibles de causar cualquier tipo de alteración en los sistemas informáticos del titular del Web o de terceros.

4. Publicidad

Parte del Sitio web puede albergar contenidos publicitarios o estar patrocinado. Los anunciantes y patrocinadores son los únicos responsables de asegurarse que el material remitido para su inclusión en el Sitio web cumple con las leyes que en cada caso puedan ser de aplicación. El titular del Web no será responsable de cualquier error, inexactitud o irregularidad que puedan contener los contenidos publicitarios o de los patrocinadores.

En todo caso, para interponer cualquier reclamación relacionada con los Contenidos publicitarios insertados en este Sitio web pueden dirigirse a la siguiente dirección de correo electrónico: info@sisvox.com

5. Propiedad intelectual e industrial

Todos los derechos de propiedad industrial e intelectual de este sitio Web y de las distintas páginas web pertenecientes al mismo, así como de los elementos contenidos en el mismo y en sus páginas web (incluidos, con carácter enunciativo que no limitativo, el diseño gráfico, código fuente, logos, contenidos, imágenes, textos, gráficos, ilustraciones, fotografías, bases de datos y demás elementos que aparecen en la Web), salvo que se indique lo contrario, son titularidad exclusiva del titular del Web o de terceros. En este sentido, el titular de este sitio Web hace expresa reserva de todos los derechos.

6. Régimen de responsabilidad

6.1. Responsabilidad por el Uso del Sitio Web

El Usuario es el único responsable de las infracciones en las que pueda incurrir o de los perjuicios que pueda causar por la utilización del sitio Web, quedando el titular del Web, sus socios, empresas del grupo, colaboradores, empleados y representantes, exonerados de cualquier clase de responsabilidad que se pudiera derivar por las acciones del Usuario.

El titular del Web empleará todos los esfuerzos y medios razonables para facilitar información actualizada y fehaciente en el Web, no obstante, el titular del Web no asume ninguna garantía en relación con la ausencia de errores, o de posibles inexactitudes y/u omisiones en ninguno de los contenidos accesibles a través de este Web.

El Usuario es el único responsable frente a cualquier reclamación o acción legal, judicial o extrajudicial, iniciada por terceras personas contra el titular del Web basada en la utilización por el Usuario del Web. En su caso, el Usuario asumirá cuantos gastos, costes e indemnizaciones sean irrogados al titular del Web con motivo de tales reclamaciones o acciones legales.

6.2. Responsabilidad por el funcionamiento del Web

El titular del Web excluye toda responsabilidad que se pudiera derivar de interferencias, omisiones, interrupciones, virus informáticos, averías telefónicas o desconexiones en el funcionamiento operativo del sistema electrónico, motivado por causas ajenas al titular del Web.

Asimismo, el titular del Web también excluye cualquier responsabilidad que pudiera derivarse por retrasos o bloqueos en el funcionamiento operativo de este sistema electrónico causado por deficiencias o sobre carga en las líneas telefónicas o en Internet, así como de daños causados por terceras personas mediante intromisiones ilegitimas fuera del control del titular del Web.

El titular del Web esta facultado para suspender temporalmente, y sin previo aviso, la accesibilidad al Web con motivo de operaciones de mantenimiento, reparación, actualización o mejora.

6.3. Responsabilidad por links

Los enlaces o links contenidos en el web y las páginas webs pertenecientes al mismo pueden conducir al Usuario a otros webs gestionados por terceros.

El titular del Web declina cualquier responsabilidad respecto a la información que se halle fuera del Web y sus páginas webs, ya que la función de los links que aparecen es únicamente la de informar al Usuario sobre la existencia de otras fuentes de información sobre un tema en concreto.

El titular del Web queda exonerado de toda responsabilidad por el correcto funcionamiento de tales enlaces, del resultado obtenido a través de dichos enlaces, de la veracidad y licitud del contenido o información a la que se puede acceder, así como de los perjuicios que pueda sufrir el Usuario en virtud de la información encontrada en la Web enlazada.

7. Política respecto a los datos personales obtenidos a través del Web

7.1. A través de formularios

Sin perjuicio de lo previsto en lo indicado en cada uno de los formularios del sitio Web y sus páginas webs, cuando el Usuario facilite sus datos de carácter personal está autorizando expresamente al titular del Web al tratamiento de sus Datos Personales para las finalidades que en los mismos se indiquen. El titular del Web incorporará los datos facilitados por el Usuario en un fichero titularidad del mismo.

El Usuario o su representante podrá ejercitar sus derechos de acceso, rectificación, cancelación u oposición, mediante solicitud escrita y firmada dirigida al domicilio indicado en el apartado "Empresa" del presente Web.

7.2. A través de Cookies

Este Web utiliza cookies. Los cookies son pequeños ficheros de datos que se generan en el ordenador del usuario y que nos permiten conocer la siguiente información:

    * La fecha y la hora de la última vez que el usuario visitó nuestro Web.
    * El diseño de contenidos que el usuario escogió en su primera vista a nuestro Web.
    * Elementos de seguridad que intervienen en el control de acceso a las áreas restringidas.
    * El identificador encriptado del usuario en nuestra base de datos.
    * El login del usuario
    * La fecha del servidor y la fecha local del cliente.
    * El idioma por defecto de la publicación.

El Usuario tiene la opción de impedir la generación de cookies, mediante la selección de la correspondiente opción en su programa Navegador.

7.3. Confidencialidad

El titular del Web se compromete al cumplimiento de su obligación de secreto de los datos de carácter personal y de su deber de guardarlos de forma confidencial y adoptará las medidas necesarias para evitar su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta en todo momento del estado de la tecnología.

8. Observaciones del usuario

El Usuario garantiza que la información, material, contenidos u observaciones que no sean sus propios datos personales y que sean facilitados al titular del Web a través del Web, no infringen los derechos de propiedad intelectual o industrial de terceros, ni ninguna otra disposición legal.

La información, materiales, contenidos, opiniones u observaciones que el Usuario facilite al titular del Web, se considerarán no confidenciales, reservándose el titular del Web el derecho a usarlas de la forma que considere más adecuada.

9. Modificaciones de las condiciones de uso

El titular del Web se reserva el derecho a modificar, desarrollar o actualizar en cualquier momento y sin previa notificación, las condiciones de uso del presente Web. El Usuario quedará obligado automáticamente por las condiciones de uso que se hallen vigentes en el momento en que acceda al Web, por lo que deberá leer periódicamente dichas condiciones de uso.

    -->
  </body>
</html>
