<a name="add-comment"></a><h3 id="respond">Add a Comment</h3>

<% form_tag(:action => 'add_comment', :id => @post.id) do %>
  <%= error_messages_for :comment %>

  <p>
    <%= label :comment, :author %> (required)<br />
    <%= text_field :comment, :author, :value => 'Your Name...', :onfocus => "this.value=(this.value=='Your Name...') ? '' : this.value;", :onblur => "this.value=(this.value=='') ? 'Your Name...' : this.value;", :tabindex => '1' %>
  </p>
  <p>
    <%= label :comment, :author_email %> (required)<br />
    <%= text_field :comment, :author_email, :value => 'Your Email...', :onfocus => "this.value=(this.value=='Your Email...') ? '' : this.value;", :onblur => "this.value=(this.value=='') ? 'Your Email...' : this.value;", :tabindex => '2' %>
  </p>
  <p>
    <%= label :comment, :author_url %><br />
    <%= text_field :comment, :author_url, :value => 'Your Website...', :onfocus => "this.value=(this.value=='Your Website...') ? '' : this.value;", :onblur => "this.value=(this.value=='') ? 'Your Website...' : this.value;", :tabindex => '3' %>
  </p>
  <p>
    <%= label :comment, :content %> (required)<br />
    <%= text_area :comment, :content, :value => 'Your Message...', :onfocus => "this.value=(this.value=='Your Message...') ? '' : this.value;", :onblur => "this.value=(this.value=='') ? 'Your Message...' : this.value;", :size => '20x10', :tabindex => '4' %>
  </p>
  <p class="no-border">
    <%= submit_tag 'Submit', :class => 'button', :tabindex => '5' %>
  </p>
<% end %>