<h1>Editing post</h1>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :tabindex => '1' %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :rows => '10', :cols => '20', :tabindex => '2' %>
  </p>
  <p>
    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list, :tabindex => '3' %>
  </p>
  <p class="no-border">
    <%= f.submit 'Update', :class => 'button', :tabindex => '4' %>
  </p>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>