<h2>Upload a new prject</h2>

<% form_for(@project, :url => {:action => 'create'}, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name%> (required)<br />
    <%= f.text_field :name, :value => @project.name || 'Project Name...',
      :onfocus => "this.value=(this.value=='Project Name...') ? '' : this.value;",
      :onblur => "this.value=(this.value=='') ? 'Project Name...' : this.value;",
      :tabindex => '1' %>
  </p>
  <p>
    <%= f.label :contact_email %><br />
    <%= f.text_field :contact_email, :value => @project.contact_email || 'Contact Email...',
      :onfocus => "this.value=(this.value=='Contact Email...') ? '' : this.value;",
      :onblur => "this.value=(this.value=='') ? 'Contact Email...' : this.value;",
      :tabindex => '2' %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url, :value => @project.url || 'Project Website...',
      :onfocus => "this.value=(this.value=='Project Website...') ? '' : this.value;",
      :onblur => "this.value=(this.value=='') ? 'Project Website...' : this.value;",
      :tabindex => '3' %>
  </p>
  <p>
    <%= f.label :description %> (required)<br />
    <%= f.text_area :description, :size => '20x10',
      :value => @project.description || 'Project Description...',
      :onfocus => "this.value=(this.value=='Project Description...') ? '' : this.value;",
      :onblur => "this.value=(this.value=='') ? 'Project Description...' : this.value;",
      :tabindex => '4' %>
  </p>
  <p>
    <%= f.label :uploaded_data %><br />
    <%= f.file_field :uploaded_data,
      :value => @project.uploaded_data || '',
      :tabindex => '5' %>
  </p>
  <p>
    <%= submit_tag 'Submit', :class => 'button', :tabindex => '6' %>
  </p>
<% end %>